@font-face {
  font-family: 'iconfont';
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype'),
    url('./fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-github:before { content: "\eaf6"; }

.icon-send:before { content: "\e893"; }

.icon-home:before { content: "\e8ba"; }

.icon-ask:before { content: "\e8bb"; }

.icon-chat:before { content: "\e8bd"; }

.icon-message:before { content: "\e8bf"; }

.icon-transverse-more:before { content: "\e8c4"; }

.icon-user:before { content: "\e8c8"; }

.icon-write:before { content: "\e8cc"; }

.icon-picture:before { content: "\e8d2"; }

.icon-lock:before { content: "\e8d5"; }

.icon-left:before { content: "\e8ef"; }

.icon-right:before { content: "\e8f1"; }

.icon-down:before { content: "\e8f4"; }

.icon-up:before { content: "\e8f5"; }

.icon-position:before { content: "\e8ff"; }

.icon-empty:before { content: "\e6f7"; }

.icon-search:before { content: "\e741"; }

.icon-share:before { content: "\e624"; }

.icon-eij:before { content: "\e625"; }

.icon-success:before { content: "\e844"; }

.icon-close:before { content: "\e845"; }

.icon-warning:before { content: "\e8f2"; }

.icon-info:before { content: "\e8f3"; }

.icon-error:before { content: "\e845"; }

.icon-cart:before { content: "\e887"; }
